	<footer class="py-16 md:py-20 lg:py-24 text-slate-500 text-center">
		<div class="flex flex-col mx-auto max-w-screen-xl px-6 sm:px-10 xl:px-0 leading-relaxed">
			<p>Design by Me, Using <a class="hover:underline hover:text-main" href="https://www.figma.com/" rel="nofollow noreferrer">Figma</a> & VS Code, <a class="hover:underline hover:text-main" href="https://tailwindcss.com/" rel="nofollow noreferrer">Tailwind</a>, and <a class="hover:underline hover:text-main" href="https://dribbble.com/" rel="nofollow noreferrer">Dribble</a> for inspiration.</p>
			<p>Mockup by <a class="hover:underline hover:text-main" href="https://www.figma.com/community/file/1161518833995153231" rel="nofollow noreferrer">Gina Chee</a>, Icon by <a class="hover:underline hover:text-main" href="https://ionic.io/ionicons/" rel="nofollow noreferrer">Ionicons</a>, Optimized Image by <a class="hover:underline hover:text-main" href="https://tinypng.com/" rel="nofollow noreferrer">Tinypng</a>, Slidejs by <a class="hover:underline hover:text-main" href="https://splidejs.com/" rel="nofollow noreferrer">splidejs</a></p>
			<p>© Copyright 2024, All rights reserved</p>
		</div>
	</footer>
