<nav class="menu flex text-center items-center {% if page.title %} mx-auto {% endif %}">
	<ul class="flex gap-10 md:gap-12 text-slate-600 list-none mx-auto font-medium">
		<li>
			<a href="/" class="{% if page.url == '/' %}active{% endif %} hover:text-main hover:underline">
				Home
			</a>
		</li>
		<li>
			<a href="/projects" class="{% if page.url == '/projects' %}active{% endif %} hover:text-main hover:underline">
				Project
			</a>
		</li>
		<li>
			<a href="#contact" class="hover:text-main hover:underline">
				Contact
			</a>
		</li>
	</ul>
</nav>
