{% for post in paginator.posts %}
    <div class="article">
        <div class="thumbnail w-cover h-cover mb-4 rounded-md bg-bone rounded-md border border-bone-border">
            <a href="{{ "/" | relative_url  }}{{ post.url | remove_first: '/' }}">
                <img src="{{ post.thumbnail }}" alt="zulfikar">
            </a>
        </div>
        <h2 class="title font-heading font-medium text-lg text-slate-800">{{ post.title }}</h2>
        <p class="text-slate-600">{{ post.type }}</p>
    </div>
{% endfor %}
