---
layout: default
archive: true
---

	<div class="post-header flex flex-col lg:flex-row gap-10 items-center">

		<div class="post-title max-w-2xl">
			<div class="released inline-block font-medium font-heading bg-main text-white py-1 px-2.5 rounded">{{ page.date | date:"%Y" }}</div>
			<h1 class="text-slate-800 text-5xl font-medium font-heading pt-2 pb-4">{{ page.title }}</h1>
			<p class="latar-belakang text-lg leading-relaxed text-slate-600 text-justify">{{ page.description }}</p>
		</div>

		<div class="post-group mr-auto lg:ml-auto flex flex-col gap-3 font-heading">
			
			<div class="list flex gap-2 items-center">
				<b class="min-w-24 text-slate-800 font-medium">System</b>
				<div class="list-group text-sm text-slate-500 whitespace-nowrap flex gap-1">
				{% assign system = page.system | split: ', ' %}
				{% for row_system in system %}
					<div class="list-label font-medium px-3 py-1 rounded border border-bone-border">{{ row_system }}</div>
				{% endfor %}
				</div>
			</div>

			<div class="list flex gap-2 items-center">
				<b class="min-w-24 text-slate-800 font-medium">Tools</b>
				<div class="list-group text-sm text-slate-500 whitespace-nowrap flex gap-1">
				{% assign tools = page.tools | split: ', ' %}
				{% for row_tools in tools %}
					<div class="list-label font-medium px-3 py-1 rounded border border-bone-border">{{ row_tools }}</div>
				{% endfor %}
				</div>
			</div>
			
			<div class="list flex gap-2 items-center">
				<b class="min-w-24 text-slate-800 font-medium">Front End</b>
				<div class="list-group text-sm text-slate-500 whitespace-nowrap flex gap-1">
				{% assign frontend = page.frontend | split: ', ' %}
				{% for row_frontend in frontend %}
					<div class="list-label font-medium px-3 py-1 rounded border border-bone-border">{{ row_frontend }}</div>
				{% endfor %}
				</div>
			</div>
			
			<div class="list flex gap-2 items-center">
				<b class="min-w-24 text-slate-800 font-medium">Back End</b>
				<div class="list-group text-sm text-slate-500 whitespace-nowrap flex gap-1">
				{% assign backend = page.backend | split: ', ' %}
				{% for row_backend in backend %}
					<div class="list-label font-medium px-3 py-1 rounded border border-bone-border">{{ row_backend }}</div>
				{% endfor %}
				</div>
			</div>

		</div>

        {{content}}

	</div>

<!-- Archive post list -->
{% if page.archive %}
    <ul id="post-list" class="archive readmore">
        <h3>Read more</h3>
        {% for post in site.posts %}
            <li>
                <a href="{{ "/" | relative_url  }}{{ post.url | remove_first: '/' }}">{{ post.title }}<aside class="dates">{{ post.date | date:"%b %d" }}</aside></a>
            </li>
        {% endfor %}
    </ul>
{% endif %}



